<header id="head" class="secondary"></header>
<div class="container">
    <div class="row">
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">LogIn</h1>
            </header>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form class="form-signin" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="login()">
                            <div class="top-margin">
                                <input type="text" class="form-control" placeholder="Email" data-ng-model="user.email"/>
                                <p> </p>
                            </div>
                            <div class="top-margin">
                                <input type="password" class="form-control" placeholder="Password" data-ng-model="user.password"/>
                                <p> </p>
                            </div>
                            <div class="row">
                                <input type="submit" value="LogIn" class="btn btn-action btn-lg" style="width: 100%">
                                
                            </div>                            
                        </form>               
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
