<header id="head" class="secondary"></header>
<div class="container">
    <div class="row">
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">LogIn</h1>
            </header>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            {{model.error}}
                        </div>

                        <form ng-submit="login()" class="form-signin"  name="userLoginForm" role="form" method="post">
                            <div class="top-margin">
                                <input type="email" class="form-control" placeholder="Email" ng-model="model.email" required/>
                            </div>
                            <div class="top-margin">
                                <input type="password" class="form-control" placeholder="Password" ng-model="model.password" required/>
                                <p> </p>
                            </div>
                            <div class="row">
                                <input type="submit" value="LogIn" class="btn btn-action btn-lg" style="width: 100%">

                            </div>
                        </form>

                        

                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
