<div class="container">
    <div class="divPanel page-content">
        <div class="row-fluid">
            <div class="span12" id="divMain">
                <hr style="margin: 45px 0 35px" />
                <div class="lead">
                    <h2>My orders</h2>
                    <h3 ng-if="model.orders == null">
                        You do not have active orders. <a ng-href="/#/takeBike">Would you like to take a bike?</a>
                    </h3>
                </div>
            </div>
            <div ng-repeat="order in model.orders" class="span12" id="divMain">
                <div  class="row-fluid">
                    <div class="span7">
                        <br />
                        <h3>{{order.Type}} ({{order.Sex}})</h3>
                        <p>
                            <img src="{{localAddress + order.Photo}}" class="img-polaroid" style="margin: 12px 0px; width: 100%" alt="">
                        </p>
                    </div>
                    <div class="span5 sidebar">
                        <div class="sidebox">
                            <h4 class="sidebox-title">Before start of the order remains : {{order.BeforeStart}}</h4>
                            <h4 class="sidebox-title">Before end of the order remains : {{order.BeforeEnd}}</h4>
                        </div>

                        <div class="sidebox">
                            <h4 class="sidebox-title"> Price rental bike : {{order.PriceOrder}} UAH</h4>
                            <h4 class="sidebox-title" ng-if="order.Status == true" style="color: green">
                                Order status : Active
                                <button ng-click="showConfirm($event,order.IdOrder)" class="btn btn-danger" type="button">Delete order</button>
                            </h4>
                            <h4 class="sidebox-title" ng-if="order.Status == false" style="color: red">
                                Order status : NotActive
                                <button ng-click="showConfirm($event,order.IdOrder)" class="btn btn-danger" type="button">Delete order</button>
                            </h4>

                        </div>

                        <div class="sidebox">
                            <h4 class="sidebox-title"> You ordered bike : {{order.DateOrder | date:'dd-MM-yyyy HH:mm'}}</h4>
                            <h4 class="sidebox-title" style="color: green"> Bike will be available : {{order.TimeStart | date:'dd-MM-yyyy HH:mm'}}</h4>
                            <h4 class="sidebox-title" style="color: orange"> The bike must be returned : {{order.TimeEnd | date:'dd-MM-yyyy HH:mm'}}</h4>
                        </div>
                    </div>

                </div>
                <hr style="border-color: grey" />

            </div>
        </div>
    </div>
</div>