<div class="container">
    <div class="divPanel page-content">
        <div class="row-fluid">
            <div class="span12" id="divMain">
                <hr style="margin: 45px 0 35px"/>
                <div class="lead">
                    <h2>List bikes</h2>                 
                </div>
            </div>
            <div ng-repeat="bike in model.bikes" class="span12" id="divMain">
                <div class="row-fluid">
                    <div class="span8">
                        <p>
                            <img src="{{localAddress + bike.Photo}}" class="img-polaroid" style="margin: 12px 0px; width: 100%" alt="">
                        </p>
                    </div>
                    <div class="span4 sidebar">
                        <div class="sidebox">
                            <h4 class="sidebox-title">Type : {{bike.Type}}</h4>
                            <h4 class="sidebox-title">Sex : {{bike.Sex}}</h4>
                            <h4 class="sidebox-title">Price : {{bike.Price}} UAH</h4>
                            <h4 class="sidebox-title" ng-if="bike.Status == true" style="color: green">
                                Status : Active
                                <button ng-click="editStatus(bike.IdBike)" class="btn btn-warning" type="button">Edit status</button>
                            </h4>
                            <h4 class="sidebox-title" ng-if="bike.Status == false" style="color: red">
                                Status : NotActive
                                <button ng-click="editStatus(bike.IdBike)" class="btn btn-warning" type="button">Edit status</button>
                            </h4>
                        </div>

                        <div class="sidebox">
                            <h3 class="sidebox-title">Options</h3>
                            <h4 class="sidebox-title">
                                <button ng-click="goEdit(bike.IdBike)" class="btn btn-warning">Edit bike</button>
                                <button ng-click="showConfirm($event,bike.IdBike)" class="btn btn-danger">Delete bike</button>
                            </h4>
                        </div>
                    </div>
                </div>
                <hr style="border-color: grey" />
            </div>           
        </div>
    </div>
</div>