<header id="head" class="secondary"></header>
<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
            <div class="row">
                <header class="col-xs-4 page-header">
                    <h2 class="page-title">Bikes </h2>
                </header>
                <header class="col-xs-8 page-header">
                    <h2 class="page-title"><a ng-href="/#/addBike">Add new bike? </a></h2>
                </header>
            </div>
            <div  ng-repeat="bike in model.bikes">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Type : {{bike.Type}}</h4>
                        <h4>Sex : {{bike.Sex}}</h4>
                        <h4>Price : {{bike.Price}} UAH</h4>
                        <h4 ng-if="bike.Status == true" style="color: green"> Status : Active</h4>
                        <h4 ng-if="bike.Status == false" style="color: red"> Status : NotActive</h4>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Options <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="showConfirm($event,bike.IdBike)">Delete bike</a></li>
                                <li><a href="" ng-click="editStatus(bike.IdBike)">Edit status</a></li>
                                <li><a ng-href="/#/editBike/{{bike.IdBike}}">Edit bike</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="{{localAddress + bike.Photo}}" alt="">
                    </div>
                </div>
                <div class="row">
                    
                </div>
                <div class="row">
                    <header class="page-header"> </header>
                </div>
            </div>
        </div>
    </div>
</div>