<!DOCTYPE html>
<html ng-app="BikeRental">
<head>
    <?xml version="1.0" encoding="windows-1251"?>

    <meta charset="utf-8"/>
    <meta name="fragment" content="!"/>
    <base href="/#/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - My ASP.NET Application</title>

    <link href="/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="scripts/fontawesome/css/font-awesome.min.css" />
    <link href="/scripts/carousel/style.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/jquery.datetimepicker.css" rel="stylesheet"/>
    <link href="/bower_components/angular-material/angular-material.css" rel="stylesheet"/>
    <link href="/bower_components/ngprogress/ngProgress.css" rel="stylesheet"/>





</head>
<body id="pageBody" ng-controller="rootController" >
<div id="decorative2">
    <div class="container">
        <div class="divPanel topArea notop nobottom">
            <div class="row-fluid">
                <div class="span12">
                    <div id="divLogo" class="pull-left">
                        <a ng-href="/home" id="divSiteTitle">BikeProf</a><br/>
                        <a ng-href="/home" id="divTagLine">Bikes for all tastes</a>
                    </div>
                    <div id="divMenuRight" class="pull-right">
                        <div class="navbar">
                            <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                NAVIGATION <span class="icon-chevron-down icon-white"></span>
                            </button>
                            <div class="nav-collapse collapse">
                                <ul class="nav nav-pills ddmenu">
                                    <li ng-if="userLog != null" class="dropdown">
                                        <a ng-href="/takeBike">Take Bike</a>
                                    </li>
                                    <li ng-if="userLog != null" class="dropdown">
                                        <a ng-href="/userOrders" ng-click="getOrders()">
                                            MyOrders
                                        </a>
                                    </li>
                                    <li ng-if="userLog == 'Admin'" class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin pages <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a ng-href="/listBike">
                                                    List bikes
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-href="/addBike">
                                                    Add new bike
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li ng-if="userLog == null">
                                        <a ng-href="/login">
                                            Login
                                        </a>
                                    </li>
                                    <li ng-if="userLog != null">
                                        <a href="" ng-click="logoff()">
                                            LogOff
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contentOuterSeparator"></div>
<div class="page {{ pageClass }}" ng-view="ng-view" style="background-color: white; min-height: 85%"></div>
<div id="footerOuterSeparator"></div>


<div id="divFooter" class="footerArea"style="margin-top: auto">
    <div class="container">
        <div class="divPanel">
            <div class="row-fluid">
                <div class="span12">
                    <p>
                        Alexander Kirichenko
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="/Scripts/jquery.min.js" type="text/javascript"></script>
<script src="/Scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/Scripts/default.js" type="text/javascript"></script>
<script src="/Scripts/carousel/jquery.carouFredSel-6.2.0-packed.js" type="text/javascript"></script>
<script src="/Scripts/build/jquery.datetimepicker.full.min.js"></script>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="/bower_components/oi.file/oi.file.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-material/angular-material-mocks.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/ngprogress/build/ngProgress.js"></script>



<script src="/app/app.js"></script>
<script src="/app/Home/rootController.js"></script>
<script src="/app/LogIn/logInService.js"></script>
<script src="/app/LogIn/logInController.js"></script>
<script src="/app/Home/homeController.js"></script>
<script src="/app/TakeBike/takeBikeDirective.js"></script>
<script src="/app/TakeBike/takeBikeController.js"></script>
<script src="/app/TakeBike/takeBikeService.js"></script>
<script src="/app/Type/typeService.js"></script>
<script src="/app/Orders/ordersController.js"></script>
<script src="/app/Orders/ordersService.js"></script>
<script src="/app/AddBike/addBikeController.js"></script>
<script src="/app/AddBike/addBikeService.js"></script>
<script src="/app/ListBike/listBikeController.js"></script>
<script src="/app/ListBike/listBikeService.js">       </script>
<script src="/app/EditBike/editBikeController.js">       </script>
<script src="/app/EditBike/editBikeService.js"></script>
</body>
</html>