<!DOCTYPE html>
<html ng-app="BikeRental">
<head>
    <?xml version="1.0" encoding="windows-1251"?>

    <meta charset="utf-8"/>
    <base href="/#/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - My ASP.NET Application</title>

    <link href="/buildP/css/main.css" rel="stylesheet"/>
</head>
<body id="pageBody" ng-controller="rootController">
<div id="decorative2">
    <div class="container">
        <div class="divPanel topArea notop nobottom">
            <div class="row-fluid">
                <div class="span12">
                    <div id="divLogo" class="pull-left">
                        <a ng-href="/" id="divSiteTitle">BikeProf</a><br/>
                        <a ng-href="/" id="divTagLine">Bikes for all tastes</a>
                    </div>
                    <div id="divMenuRight" class="pull-right">
                        <div class="navbar">
                            <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                NAVIGATION <span class="icon-chevron-down icon-white"></span>
                            </button>
                            <div class="nav-collapse collapse">
                                <ul class="nav nav-pills ddmenu">
                                    <li ng-if="userLog != null" class="dropdown">
                                        <a ng-href="/takeBike">Take Bike</a>
                                    </li>
                                    <li ng-if="userLog != null" class="dropdown">
                                        <a ng-href="/userOrders" ng-click="getOrders()">
                                            MyOrders
                                        </a>
                                    </li>
                                    <li ng-if="userLog == 'Admin'" class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin pages <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a ng-href="/listBike">
                                                    List bikes
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-href="/addBike">
                                                    Add new bike
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li ng-if="userLog == null">
                                        <a ng-href="/login">
                                            Login
                                        </a>
                                    </li>
                                    <li ng-if="userLog != null">
                                        <a href="" ng-click="logoff()">
                                            LogOff
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contentOuterSeparator"></div>
<div class="page {{ pageClass }}" ng-view="ng-view" style="background-color: white; min-height: 85%"></div>
<div id="footerOuterSeparator"></div>


<div id="divFooter" class="footerArea"style="margin-top: auto">
    <div class="container">
        <div class="divPanel">
            <div class="row-fluid">
                <div class="span12">
                    <p>
                        Alexander Kirichenko
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/buildP/js/main.js"></script>
</body>
</html>