@using BikeRental.Resources.App_GlobalResources
@model BikeRental.ViewModel.ViewModel.ListBikeViewModel
@{
    ViewBag.Title = Resource.Bikes;
}

<header id="head" class="secondary"></header>


<div class="container">
    <div class="row">
        <article class="col-sm-2 maincontent"></article>
        <article class="col-sm-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">@Resource.Bikes</h1>
            </header>
            @Html.Partial("Bikes", Model.Bikes)
        </article>
        <article class="col-sm-2 maincontent"></article>
    </div>
</div>