<header id="head" class="secondary"></header>
<form ng-submit="takeBike()" class="form-signin" role="form" method="post">

    <div class="container" style="width: 100%">
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 top-margin">
            <div class="card card-block">
                <h3 class="card-title">Take bike</h3>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Order time</h4>
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                    <h4>
                                        <label>Start time of the order</label>
                                    </h4>
                                    <input class="col-xs-12" id="datetimepicker1" type="text" ng-model="model.timeStart" autocomplete="off" required />
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                    <h4>
                                        <label>End time of the order</label>
                                    </h4>
                                    <input class="col-xs-12" id="datetimepicker2" type="text" ng-model="model.timeEnd" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Order details <!--<i class="glyphicon glyphicon-question-sign">Optional parameters</i>--></h4>
                            </div>
                            <div class="panel-body">
                                <h4><label>Type bike</label></h4>
                                <div ng-repeat="type in model.types">
                                    <h4><input type="radio" value="{{type.IdType}}" ng-model="model.selectType" /> {{type.NameType}}</h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h4><label>Sex</label></h4>
                                <h4><input type="radio" ng-model="model.selectSex" value="Men" /> Men </h4>
                                <h4><input type="radio" ng-model="model.selectSex" value="Women" /> Women </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <div class="alert alert-danger" ng-if="model.error != ''">
                            <strong>{{model.error}}</strong>
                            <p ng-if="model.error != null"> Bike available from {{model.accessTime | date:'yyyy-MM-dd HH:mm'}} </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-6">
                        <input type="submit" value="TakeBike" class="btn btn-action btn-lg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
<script>
    jQuery('#datetimepicker1')
        .datetimepicker(
        {
            minDate: Date()
        });
        jQuery('#datetimepicker2').datetimepicker(
        {minDate: Date()
        });
</script>