<header id="head" class="secondary"></header>
<form ng-submit="takeBike()" class="form-signin" role="form" method="post">
    <div class="jumbotron top-space">
        <div class="container">
            <h4 class="text-center thin">{{model.error}}</h4>
            <h4 ng-if="model.accessTime != null" class="text-center thin"> @Resource.BikeAvailable {{model.accessTime}} </h4>


            <h3 class="text-center thin">Rent time</h3>
            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <input id="datetimepicker1" type="text" ng-model="model.timeStart" autocomplete="off" required/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <input id="datetimepicker2" type="text" ng-model="model.timeEnd" autocomplete="off" required/>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>


            <h3 class="text-center thin">Type bike</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 highlight" ng-repeat="type in model.types">
                    <div class="h-caption">
                        <h4>
                            <i class="fa fa-cogs fa-5"></i><input type="radio" value="{{type.IdType}}" ng-model="model.selectType"/> {{type.NameType}}
                        </h4>
                    </div>
                </div>
            </div>
            <h3 class="text-center thin">Sex</h3>
            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <h4><input type="radio" ng-model="model.selectSex" value="Men"/> Men </h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <h4><input type="radio" ng-model="model.selectSex" value="Women"/> Women </h4>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>
            <input type="submit" value="TakeBike" class="btn btn-action btn-lg" style="width: 100%"/>




        </div>

    </div>
</form>
<script>
        jQuery('#datetimepicker1').datetimepicker(
        {

        });
        jQuery('#datetimepicker2').datetimepicker(
        {

        });
</script>