<div class="container">
    <form ng-submit="takeBike()" class="form-signin" role="form" method="post">
        <div class="divPanel page-content">
            <div class="row-fluid">
                <div class="span12" id="divMain">
                    <hr style="margin: 45px 0 35px"/>
                    <div class="lead">
                        <h2>Take bike</h2>
                    </div>
                    <div class="span6">
                        <div class="span12 sidebox">
                            <h3 class="sidebox-title">Order time</h3>
                            <div class="span5">
                                <h4>Start time of the order</h4>
                                <input class="col-xs-12" id="datetimepicker1" type="text" style="width: 80%" ng-model="model.timeStart" autocomplete="off" required/>
                            </div>
                            <div class="span5">
                                <h4>End time of the order</h4>
                                <input class="col-xs-12" id="datetimepicker2" type="text" style="width: 80%" ng-model="model.timeEnd" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div ng-if="model.error != ''" class="span12 sidebox">
                                <div class="alert alert-danger">
                                    <strong>{{model.error}}</strong>
                                    <p ng-if="model.accessTime != null && model.error != null"> Bike available from {{model.accessTime | date:'yyyy-MM-dd HH:mm'}} </p>
                                </div>
                            </div>
                        </div>                        
                        <div class="row-fluid">
                            <div class="span12 sidebox">
                                <input type="submit" value="TakeBike" class="btn btn-primary" style="width: 100%" />
                            </div>
                        </div>                          
                    </div>
                    <div class="span5">
                        <div class="span12 sidebox">
                            <h3 class="sidebox-title">Order details</h3>
                            <div class="span6">
                                <h4>Type bike</h4>
                                <div ng-repeat="type in model.types">
                                    <h4><input type="radio" value="{{type.IdType}}" ng-model="model.selectType"/> {{type.NameType}}</h4>
                                </div>
                            </div>
                            <div class="span5">
                                <h4>Sex</h4>
                                <h4><input type="radio" ng-model="model.selectSex" value="Men"/> Men </h4>
                                <h4><input type="radio" ng-model="model.selectSex" value="Women"/> Women </h4>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    jQuery('#datetimepicker1')
        .datetimepicker(
        {
            minDate: Date.now()
        });
    jQuery('#datetimepicker2')
        .datetimepicker(
        {
            minDate: Date.now()          
        });
</script>