<div id="decorative1" style="position: relative">
    <div class="container">
        <div class="divPanel headerArea">
            <div class="row-fluid">
                <div class="span12">
                    <div id="headerSeparator"></div>
                    <div id="divHeaderText" class="page-content">
                        <div id="divHeaderLine1">BikeProf</div><br/>
                        <div ng-if="userLog == null" id="divHeaderLine2">To rent a bike you need to login</div><br/>
                        <div ng-if="userLog != null" id="divHeaderLine3"><a class="btn btn-large btn-primary" ng-href="/#/takeBike">Take bike</a>
                        </div>

                    </div>
                    <div id="headerSeparator2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contentOuterSeparator"></div>
<div class="container">
    <div class="divPanel page-content">
        <div class="row-fluid">
            <div class="span12" id="divMain">
                <h1>Welcome</h1>
                <p>
                    Our huge inventory of new bikes ensure your comfort and safety.
                    All equipment is maintained in-house by professional mechanics. Our customer service staff
                    can answer your questions about which type and size of bike is best for your needs. We’re more
                    than happy to share some tips on good trails, scenic routes, and other cycling information – just ask!
                </p>
                <hr style="margin:45px 0 35px" />
            </div>
        </div>
    </div>
</div>