<div class="container">
    <form ng-submit="addBike()" class="form-signin" role="form" method="post" enctype="multipart/form-data">
        <div class="divPanel page-content">
            <div class="row-fluid">
                <div class="span12" id="divMain">
                    <hr style="margin: 45px 0 35px"/>
                    <div class="lead">
                        <h2>Add bike</h2>
                    </div>
                    <div class="span3 sidebar">
                        <div class="sidebox">
                            <h3>Type bike</h3>
                            <div ng-repeat="type in model.types">
                                <h4><input type="radio" value="{{type.IdType}}" ng-model="model.idType"/> {{type.NameType}}</h4>
                            </div>
                        </div>
                        <div class="sidebox">
                            <h3>Price</h3>
                            <h4>
                                <input type="text" style="width: 70%" ng-model="model.price" autocomplete="off" required/> UAH
                            </h4>
                        </div>
                    </div>
                    <div class="span6 sidebar">
                        <div class="sidebox">
                            <h3>Photo</h3>
                            <input type="file" oi-file="options">
                            <img ng-src="{{model.thumb}}" alt=""/>
                        </div>
                    </div>
                    <div class="span2 sidebar">
                        <div class="sidebox">
                            <h3>Sex</h3>
                            <h4><input type="radio" ng-model="model.sex" ng-checked="true" value="Men"/> Men</h4>
                            <h4><input type="radio" ng-model="model.sex" value="Women"/> Women</h4>
                        </div>
                        <div class="sidebox">
                            <h4 class="sidebox-title">
                                <input type="submit" value="AddBike" class="btn btn-primary" style="width: 100%"/>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>