<div id="head">
    <div class="container">
        <div class="row">
            <h1 class="lead" style="color: orangered">Hello</h1>

            <div ng-if="userLog == 0">
                <p><h2 style="color: orangered"> Чтобы арендовать велосипед необходимо авторизироваться</h2></p>
            </div>          
            <p ng-if="userLog != 0">
                <a ng-href="/#/takeBike" class="btn btn-action btn-lg" style="width: 100%">TakeBike</a>
            </p>

        </div>
    </div>
</div>
